/.idea

.DS_Store

/venv

config.toml
files/discords.txt
files/emails.txt
files/evm_wallets.txt
files/proxies.txt
files/twitters.txt

/__pycache__
/*/__pycache__
/*/*/__pycache__
/*/*/*/__pycache__

/storage/data.json
